.stripsnav {
	color: #959b9f;
	font-size: 90%;
	padding: 3px 0;
}

h2.strips {
	margin-top: 1.5em;
}

h3.strips {
	margin: 1.5em 0 1em;
}
h3 .subh {
	font-size: 80%;
	font-weight: normal;
	font-style: italic;
}
